services:
  frontend:
    image: ghcr.io/dath-251-thuanle/file-sharing-fe-web-frontend:main
    restart: always
    env_file:
      - .env
    networks:
      - app-network

  backend:
    build:
      context: ./mockbe
      dockerfile: backend.Dockerfile
    networks:
      - app-network

  nginx:
    build:
      context: .
      dockerfile: nginx.Dockerfile
    ports:
      - "80:80"
    depends_on:
      - frontend
    networks:
      - app-network

networks:
  app-network:
    name: file-sharing-network
    driver: bridge
